@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-clear {
    background: transparent;
    border: 0px none;
    min-width: 0;
    box-shadow: none;
}

.btn-clear-white {
    background: transparent;
    border: 0px none;
    min-width: 0;
    box-shadow: none;
    opacity: 0.2;
}

.btn-clear-white:hover {
    background: white;
    border: 1px solid #34495e;
    opacity: 1;
}

.btn-fileOpen {
    position: relative;
    box-shadow: none;
    border-radius: 0;
    text-transform: none;
    font-size: 1rem;
}

.btn-fileOpen > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: 0;
    cursor: pointer;
}

.btn-fileOpen label {
    display: none;
}

.btn-fileOpen input {
    width: 100%;
    cursor: pointer;
}

.btn-task {
    text-transform: none;
}

@media all and (display-mode: standalone) {
    .navbar-brand {
        display: none;
    }

    .content {
        padding: 0 !important;
    }
}

.navbar-brand img {
    margin-right: 5px;
}

.navbar {
    color: #ffffff;
    background: #2980b9;
    padding: 5px;
    min-height: 40px;
}

.navbar .input-group {
    background: transparent;
}

button.dropdown-item {
    cursor: pointer;
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

button.dropdown-item {
    cursor: pointer;
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

a.dropdown-item {
    cursor: pointer;
    font-size: 0.85rem;
}

a.dropdown-item:hover {
    background-image: none;
}

.dropdown-info {
    color: #34495e;
    font-size: small;
    padding: 0 10px;
    width: 200px;
}

.dropdown-info .form-control {
    padding: 1px 5px 1px 1px;  
}

    app {
        position: relative;
        display: flex;
        flex-direction: column;
    }

.content {
    margin: 60px 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loader-box {
    width: 500px;
    height: 120px;
    margin: 100px auto;
    text-align: center;
    font-family: Consolas, Verdana;
    font-size: .75em;
}


.plachtaUi {
    width: 100%;
    position: relative;
}

.plachta-view {
    width: calc(100% - 200px);
    position: relative;
    display: block;
}

    .plachta-view.readonly {
        width: 100%;
    }

    .plachta-view > div {
        width: 100%;
        padding-bottom: 70.5%;
        position: relative;
    }

        .plachta-view > div > div {
            top: 0;
            bottom: 0;
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

.plachtaToolBar {
    width: 190px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

    .plachtaToolBar .card-body,
    .plachtaToolBar .card-header {
        padding: 5px 10px;
    }

    .plachtaToolBar .card-header {
        cursor: pointer;
    }


.plachtaOverlayCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.plachtaOverlayCanvas.edit-mode {
    background: #0000ff;
    background: rgba(0,0,255,0.2);
    z-index: 10;
}

.plachtaOverlaySvg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.plachta-view.readonly .plachtaOverlaySvg {
    z-index: 10;
}

.plachtaOverlaySvg svg {
    width: 100%;
    height: 100%;
}

.blazor-context-menu {
    z-index: 5;
}

ul.sablonyAktivit {
    list-style: none;
    padding: 0;
    overflow: auto;
    max-height: 80vh;
}


.sablonaContent {
    position: relative;
}

.sablonaButtons {
    position: absolute;
    top: 1px;
    right: 1px;
}

.sablonaPreview {
    border: 1px solid #d7d7d7;
}

.den {
    margin: 1px;
    position: relative;
    flex: 1;
    z-index: 2;
    border: 1px solid;
}

    .den .title {
        width: 50px;
        height: 100%;
        position: absolute;
        text-align: center;
        border-right: 1px solid black;
    }

        .den .title .devVTyzdni {
            transform: rotate(-90deg) translateY(-12px);
            text-align: center;
            display: block;
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
            font-weight: bold;
        }

        .den .title .veduciDna {
            transform: rotate(-90deg) translateY(12px);
            text-align: center;
            display: block;
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
        }

        .den .title .veduciDna button {
            display: none;
        }

        .den .title .veduciDna:hover button {
            display: inline-block;
        }

.aktivity {
    width: calc(100% - 52px);
    position: absolute;
    height: 100%;
    left: 51px;
}

.aktivita {
    height: 100%;
    position: absolute;
    padding-right: 2px;
}

    .aktivita > div {
        border-right: 1px solid black;
        border-left: 1px solid black;
        height: 100%;
        width: 100%;
    }

.dropdown-placeholder {
    height: 100%;
    position: absolute;
    border: 2px dotted black;
    display: none;
}

.canvas-container {
    border: 1px solid #d7d7d7;
}

.sablonaContent svg,
.aktivita svg {
    height: 100%;
    width: 100%;
}

.aktivitaTime {
    position: absolute;
    display: block;
    border: 1px solid black;
    padding: 2px;
    font-size: 8pt;
    font-weight: bold;
    background: white;
    top: -2px;
    left: -2px;
    z-index: 2;
}

.aktivitaEndTime {
    position: absolute;
    display: block;
    border: 1px solid black;
    padding: 2px;
    font-size: 8pt;
    font-weight: bold;
    background: white;
    top: -2px;
    right: -2px;
}


.accordion .card-header:after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    float: right;
    font-weight: 600;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f105";
}


.veduci-ulohy {
    width: 380px;
}

.veduci-ulohy button {
    margin-bottom: 5px;
}

/*.aktivita-components {
        position: relative;
    }

    .aktivita-component {
        position: absolute;
        border: 1px solid black;
    }*/


.portrait h1 {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

.program-stretnutia h2 {
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
}

.program-stretnutia .col, .border-rb {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.program-stretnutia .col-horizontal {
    flex: 0 0 100%;
}

.program-cas {
    margin-right: 5px;
    width: 40px;
    display: inline-block;
    text-align: right;
}

.photo {
    text-align: center;
    padding: 1px;
    width: 50%;
}

.photo img {
    max-width: 100%;
    max-height: 100%;
}

.landscape .den {
    border: 0px none!important;
}

.landscape .den .title, .landscape .aktivita > div {
    border: 1px solid black !important;
}


.aktivita.veduci-aktivity > div::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 3px);
    height: calc(100% - 1px);
}

.blazored-modal-title {
    line-height: 2rem;
    font-size: 1.5rem;
}

.accordion > .card {
    border-radius: 5px;
}

.accordion .card-body {
    margin: 0 2px;
}

h4 {
    font-size: 15pt;
}
