@using Blazorise
@using Plachtovac.Shared.BO


<Field>
    <FieldLabel>Vedúci dňa</FieldLabel>
    <Select @bind-SelectedValue="_veduci">
        <SelectItem Value="-1">-</SelectItem>
        @for (var i=0;i<Rozvrh.Veduci.Count;i++)
        {
            var meno = Rozvrh.Veduci[i].Prezyvka;
            <SelectItem Value="@i">@meno</SelectItem>
        }
    </Select>

</Field>

<button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
<button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public Rozvrh Rozvrh { get; set; }

    [Parameter]
    public Den Den { get; set; }

    private int _veduci;

    protected override Task OnInitializedAsync()
    {
        if (Den.Veduci == null)
        {
            _veduci = -1;
        }
        else {
            _veduci = Rozvrh.Veduci.IndexOf(Den.Veduci);
            Console.WriteLine($"Aktualny veduci je {_veduci}");
        }
        return base.OnInitializedAsync();
    }


    void SubmitForm()
    {
        Console.WriteLine($"Nastavujem veduceho dna {_veduci}");
        Den.Veduci = _veduci == -1 ? null : Rozvrh.Veduci[_veduci];
        BlazoredModal.Close(ModalResult.Ok(Den));
    }

    void Cancel()
    {
        BlazoredModal.Cancel();
    }

}