@using Blazorise
@using Plachtovac.Shared.BO

<Field>
    <FieldLabel>Prezývka</FieldLabel>
    <TextEdit @ref="TextEditPrezyvka" @bind-Text="@prezyvka" Placeholder="Prezývka" />
</Field>

<Field>
    <FieldLabel>Úlohy</FieldLabel>
    <MemoEdit @bind-Text="@ulohy" Placeholder="Ulohy" />
</Field>

<button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
<button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public Veduci Veduci
    {
        get => _veduci;
        set
        {
            _veduci = value;
            prezyvka = _veduci?.Prezyvka;
            ulohy = _veduci?.Povinnosti;
        }
    }

    private Veduci _veduci = new Veduci();

    private TextEdit TextEditPrezyvka;

    private string prezyvka;
    private string ulohy;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            TextEditPrezyvka.Focus(true);
        }
    }

    void SubmitForm()
    {
        Veduci.Prezyvka = prezyvka;
        Veduci.Povinnosti = ulohy;
        BlazoredModal.Close(ModalResult.Ok(Veduci));
    }

    void Cancel()
    {
        BlazoredModal.Cancel();
    }

}
