@page {
    size: A4 portrait;
}

body {
    min-width: 209mm!important;
}

.content {
    margin: 0;
    padding: 0 !important;
    page-break-before: avoid;
}

.plachtaUi {
    page-break-after: always;
    page-break-inside: avoid;
}

.portrait {
    height: 296mm;
    width: 209mm;
    page-break-after: always;
    padding: 10mm;
}

.landscape {
    height: 296mm;
    width: 209mm;
    page-break-inside: avoid;
}

    .landscape > div {
        padding: 5mm;
        transform-origin: 0 0;
        height: 209mm;
        width: 296mm;
        transform: rotate(90deg) translate(5mm, -214mm);
    }