@using Plachtovac.Shared.BO
@using Plachtovac.Client.Helpers
@using Plachtovac.Client.Services
@using System.ComponentModel
@using Blazor.FileReader
@using Blazorise
@using Newtonsoft.Json
@using Plachtovac.Client.Components.Forms
@using JsonSerializer = System.Text.Json.JsonSerializer
@using Plachtovac.Shared.BO.GraphicsBlocks

@inherits CanvasEditor


@if (_imageConversionInProgress)
{
    <div class="align-content-center">
        <i class="fa-4x fas fa-cog fa-spin"></i>
        <br />
        <p id="loadingText" class="mt-3">Spracovávam obrázok</p>
    </div>
}

<h4 class="font-weight-bold">Pridaj nové</h4>
<div>
    <a class="dropdown-item" @onclick="() => InsertText()">Textové pole</a>
    <a class="dropdown-item" @onclick="() => InsertExternalImage(1000, 1000)">Obrázok z URL</a>
    <a class="dropdown-item btn btn-fileOpen">
        Obrázok zo súboru
        <div class="custom-control custom-file">
            <input type="file" class="custom-file-input" @ref="@inputTypeFileElement" @oninput="InsertFile" accept="image/*" />
        </div>
    </a>
</div>

@if (SelectedItem != null)
{
    <h4 class="font-weight-bold">Vlastnosti</h4>
    <DesignerItemProperties GraphicsItem="SelectedItem" Parent="this"></DesignerItemProperties>
}


@code {
    [CascadingParameter]
    public PlachtaView PlachtaView { get; set; }

    private bool _imageConversionInProgress;

    private ElementReference inputTypeFileElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var scaleX = 1.0;
            var scaleY = 1.0;
            if (PlachtaView.Rozvrh.CustomGraphicsCanvasSize != null)
            {
                scaleX = CurrentCanvasSize.Width / PlachtaView.Rozvrh.CustomGraphicsCanvasSize.Width;
                scaleY = CurrentCanvasSize.Height / PlachtaView.Rozvrh.CustomGraphicsCanvasSize.Height;
            }


            foreach (var item in PlachtaView.Rozvrh.CustomGraphicsItems)
            {
                //Coppy object
                var itemClone = (GraphicsItem)JsonSerializer.Deserialize(JsonConvert.SerializeObject(item), item.GetType());
                itemClone.Left *= scaleX;
                itemClone.Top *= scaleY;
                itemClone.ScaleX *= scaleX;
                itemClone.ScaleY *= scaleY;
                await InsertItem(itemClone);
            }
        }
    }

    public async Task InsertFile()
    {
        try
        {
            _imageConversionInProgress = true;
            StateHasChanged();
            await InsertFile(inputTypeFileElement, 1000, 1000);
        }
        catch (Exception exc)
        {
            Console.WriteLine(exc.Message);
            var parameters = new ModalParameters();
            parameters.Add(nameof(YesNoModal.Message), exc.Message);
            var modal = ModalService.Show<YesNoModal>($"Nepodarilo sa uploadnut obrázok", parameters);
            await modal.Result;
            _imageConversionInProgress = false;
        }
        finally
        {
            this.StateHasChanged();
        }
    }

    public override async Task InsertExternalImage(int width = 0, int height = 0)
    {
        try
        {

            _imageConversionInProgress = true;
            StateHasChanged();
            await base.InsertExternalImage(width, height);
        }
        finally
        {
            _imageConversionInProgress = false;
            StateHasChanged();
        }
    }

    public async Task Save()
    {
        var svg = await JSRuntime.InvokeAsync<string>("FabricJSBindings.export", CanvasElement);
        Console.WriteLine(svg.Replace("\n", "").Replace("\r", ""));
        PlachtaView.Rozvrh.CustomGraphicsOverlay = svg;

        PlachtaView.Rozvrh.CustomGraphicsItems.Clear();
        foreach (var item in Items.Values)
        {
            PlachtaView.Rozvrh.CustomGraphicsItems.Add(item.Value.M);
            PlachtaView.Rozvrh.CustomGraphicsCanvasSize = CurrentCanvasSize;
        }
    }

}
