@using Blazorise
@using Plachtovac.Client.Components.Forms
@using Plachtovac.Shared.BO

@inject IModalService Modal


s<div class="plachtaToolBar">
    <div class="accordion">
        @if (Rozvrh.PocetDni > 0)
        {
            <div class="card">
                <div class="card-header" id="headingAktivity" data-toggle="collapse" data-target="#aktivity_sablony">
                    Aktivity
                </div>

                <div id="aktivity_sablony" class="collapse" data-parent=".accordion">
                    <div class="card-body">
                        <SablonyAktivityView></SablonyAktivityView>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public PlachtaView PlachtaView { get; set; }

    public Rozvrh Rozvrh => PlachtaView.Rozvrh;
}
