@using Blazorise
@using Plachtovac.Client.Components.Forms
@using Plachtovac.Shared.BO

@inject IModalService Modal

<div class="plachtaToolBar">
    <div class="accordion">
        @if (Rozvrh.PocetDni > 0)
        {
            <div class="card">
                <div class="card-header collapsed" id="headingAktivity" data-toggle="collapse" data-target="#aktivity_sablony">
                    Aktivity
                </div>

                <div id="aktivity_sablony" class="collapse" data-parent=".accordion">
                    <div class="card-body">
                        <SablonyAktivityView></SablonyAktivityView>
                    </div>
                </div>
            </div>
        }
        <Card>
            <div class="card-header @(OverlayEditShown ? "" : "collapsed")" @onclick="ToggleOverlayEditor">
                Overlay
            </div>
            @if (OverlayEditShown)
            {
                <div class="collapse show" data-parent=".accordion">
                    <div class="card-body">
                        <OverlayDesigner @ref="OverlayDesigner" CanvasElement="PlachtaView.OverlayCanvas"></OverlayDesigner>
                    </div>
                </div>
            }
        </Card>
    </div>
</div>

@code {
    [CascadingParameter]
    public PlachtaView PlachtaView { get; set; }

    public Rozvrh Rozvrh => PlachtaView.Rozvrh;

    public bool OverlayEditShown { get; set; }

    public OverlayDesigner OverlayDesigner { get; set; }

    public async Task ToggleOverlayEditor()
    {
        if (!OverlayEditShown)
        {
            OverlayEditShown = true;
            await PlachtaView.EnableOverlayEdit();
        }
        else
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(YesNoModal.Message), "Chcete uložiť vytvorený overlay?");
            var modal = Modal.Show<YesNoModal>($"Information", parameters);
            var result = await modal.Result;
            if (!result.Cancelled)
            {
                await OverlayDesigner.Save();
            }
            OverlayEditShown = false;
            PlachtaView.DisableOverlayEdit();
        }
    }

}
